<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.microsvehicle.mapper.VehicleAuditMapper">
  <resultMap id="BaseResultMap" type="com.study.microsvehicle.model.VehicleAudit">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="audit_type" jdbcType="TINYINT" property="auditType" />
    <result column="channel" jdbcType="TINYINT" property="channel" />
    <result column="dealer_code" jdbcType="VARCHAR" property="dealerCode" />
    <result column="dealer_id" jdbcType="VARCHAR" property="dealerId" />
    <result column="dealer_name" jdbcType="VARCHAR" property="dealerName" />
    <result column="driving_img_url" jdbcType="VARCHAR" property="drivingImgUrl" />
    <result column="idcard" jdbcType="VARCHAR" property="idcard" />
    <result column="idcard_img_url" jdbcType="VARCHAR" property="idcardImgUrl" />
    <result column="invoice_img_url" jdbcType="VARCHAR" property="invoiceImgUrl" />
    <result column="lpn" jdbcType="VARCHAR" property="lpn" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="publishable" jdbcType="TINYINT" property="publishable" />
    <result column="recommender_mobile" jdbcType="VARCHAR" property="recommenderMobile" />
    <result column="review_result" jdbcType="TINYINT" property="reviewResult" />
    <result column="review_type" jdbcType="TINYINT" property="reviewType" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="vehicle_id" jdbcType="VARCHAR" property="vehicleId" />
    <result column="vin" jdbcType="VARCHAR" property="vin" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="ctrl_car" jdbcType="TINYINT" property="ctrlCar" />
    <result column="default_car" jdbcType="TINYINT" property="defaultCar" />
    <result column="show_car" jdbcType="TINYINT" property="showCar" />
    <result column="replenish" jdbcType="TINYINT" property="replenish" />
    <result column="idcard_name" jdbcType="VARCHAR" property="idcardName" />
    <result column="idcard_code" jdbcType="VARCHAR" property="idcardCode" />
    <result column="driving_name" jdbcType="VARCHAR" property="drivingName" />
    <result column="driving_vin" jdbcType="VARCHAR" property="drivingVin" />
    <result column="invoice_name" jdbcType="VARCHAR" property="invoiceName" />
    <result column="invoice_vin" jdbcType="VARCHAR" property="invoiceVin" />
    <result column="vehicle_type" jdbcType="VARCHAR" property="vehicleType" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.study.microsvehicle.model.VehicleAudit">
    <result column="driving" jdbcType="LONGVARCHAR" property="driving" />
    <result column="invoice" jdbcType="LONGVARCHAR" property="invoice" />
    <result column="idcard_discern" jdbcType="LONGVARCHAR" property="idcardDiscern" />
    <result column="driving_discern" jdbcType="LONGVARCHAR" property="drivingDiscern" />
    <result column="invoice_discern" jdbcType="LONGVARCHAR" property="invoiceDiscern" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, create_time, update_time, version, audit_type, channel, dealer_code, dealer_id, 
    dealer_name, driving_img_url, idcard, idcard_img_url, invoice_img_url, lpn, operator, 
    publishable, recommender_mobile, review_result, review_type, user_id, vehicle_id, 
    vin, mobile, name, ctrl_car, default_car, show_car, replenish, idcard_name, idcard_code, 
    driving_name, driving_vin, invoice_name, invoice_vin, vehicle_type
  </sql>
  <sql id="Blob_Column_List">
    driving, invoice, idcard_discern, driving_discern, invoice_discern
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.study.microsvehicle.model.VehicleAuditExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from vehicle_audit
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.study.microsvehicle.model.VehicleAuditExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from vehicle_audit
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from vehicle_audit
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from vehicle_audit
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.study.microsvehicle.model.VehicleAuditExample">
    delete from vehicle_audit
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.study.microsvehicle.model.VehicleAudit">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into vehicle_audit (create_time, update_time, version, 
      audit_type, channel, dealer_code, 
      dealer_id, dealer_name, driving_img_url, 
      idcard, idcard_img_url, invoice_img_url, 
      lpn, operator, publishable, 
      recommender_mobile, review_result, review_type, 
      user_id, vehicle_id, vin, 
      mobile, name, ctrl_car, 
      default_car, show_car, replenish, 
      idcard_name, idcard_code, driving_name, 
      driving_vin, invoice_name, invoice_vin, 
      vehicle_type, driving, invoice, 
      idcard_discern, driving_discern, 
      invoice_discern)
    values (#{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{version,jdbcType=INTEGER}, 
      #{auditType,jdbcType=TINYINT}, #{channel,jdbcType=TINYINT}, #{dealerCode,jdbcType=VARCHAR}, 
      #{dealerId,jdbcType=VARCHAR}, #{dealerName,jdbcType=VARCHAR}, #{drivingImgUrl,jdbcType=VARCHAR}, 
      #{idcard,jdbcType=VARCHAR}, #{idcardImgUrl,jdbcType=VARCHAR}, #{invoiceImgUrl,jdbcType=VARCHAR}, 
      #{lpn,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR}, #{publishable,jdbcType=TINYINT}, 
      #{recommenderMobile,jdbcType=VARCHAR}, #{reviewResult,jdbcType=TINYINT}, #{reviewType,jdbcType=TINYINT}, 
      #{userId,jdbcType=VARCHAR}, #{vehicleId,jdbcType=VARCHAR}, #{vin,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{ctrlCar,jdbcType=TINYINT}, 
      #{defaultCar,jdbcType=TINYINT}, #{showCar,jdbcType=TINYINT}, #{replenish,jdbcType=TINYINT}, 
      #{idcardName,jdbcType=VARCHAR}, #{idcardCode,jdbcType=VARCHAR}, #{drivingName,jdbcType=VARCHAR}, 
      #{drivingVin,jdbcType=VARCHAR}, #{invoiceName,jdbcType=VARCHAR}, #{invoiceVin,jdbcType=VARCHAR}, 
      #{vehicleType,jdbcType=VARCHAR}, #{driving,jdbcType=LONGVARCHAR}, #{invoice,jdbcType=LONGVARCHAR}, 
      #{idcardDiscern,jdbcType=LONGVARCHAR}, #{drivingDiscern,jdbcType=LONGVARCHAR}, 
      #{invoiceDiscern,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.study.microsvehicle.model.VehicleAudit">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into vehicle_audit
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="auditType != null">
        audit_type,
      </if>
      <if test="channel != null">
        channel,
      </if>
      <if test="dealerCode != null">
        dealer_code,
      </if>
      <if test="dealerId != null">
        dealer_id,
      </if>
      <if test="dealerName != null">
        dealer_name,
      </if>
      <if test="drivingImgUrl != null">
        driving_img_url,
      </if>
      <if test="idcard != null">
        idcard,
      </if>
      <if test="idcardImgUrl != null">
        idcard_img_url,
      </if>
      <if test="invoiceImgUrl != null">
        invoice_img_url,
      </if>
      <if test="lpn != null">
        lpn,
      </if>
      <if test="operator != null">
        operator,
      </if>
      <if test="publishable != null">
        publishable,
      </if>
      <if test="recommenderMobile != null">
        recommender_mobile,
      </if>
      <if test="reviewResult != null">
        review_result,
      </if>
      <if test="reviewType != null">
        review_type,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="vehicleId != null">
        vehicle_id,
      </if>
      <if test="vin != null">
        vin,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="ctrlCar != null">
        ctrl_car,
      </if>
      <if test="defaultCar != null">
        default_car,
      </if>
      <if test="showCar != null">
        show_car,
      </if>
      <if test="replenish != null">
        replenish,
      </if>
      <if test="idcardName != null">
        idcard_name,
      </if>
      <if test="idcardCode != null">
        idcard_code,
      </if>
      <if test="drivingName != null">
        driving_name,
      </if>
      <if test="drivingVin != null">
        driving_vin,
      </if>
      <if test="invoiceName != null">
        invoice_name,
      </if>
      <if test="invoiceVin != null">
        invoice_vin,
      </if>
      <if test="vehicleType != null">
        vehicle_type,
      </if>
      <if test="driving != null">
        driving,
      </if>
      <if test="invoice != null">
        invoice,
      </if>
      <if test="idcardDiscern != null">
        idcard_discern,
      </if>
      <if test="drivingDiscern != null">
        driving_discern,
      </if>
      <if test="invoiceDiscern != null">
        invoice_discern,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
      <if test="auditType != null">
        #{auditType,jdbcType=TINYINT},
      </if>
      <if test="channel != null">
        #{channel,jdbcType=TINYINT},
      </if>
      <if test="dealerCode != null">
        #{dealerCode,jdbcType=VARCHAR},
      </if>
      <if test="dealerId != null">
        #{dealerId,jdbcType=VARCHAR},
      </if>
      <if test="dealerName != null">
        #{dealerName,jdbcType=VARCHAR},
      </if>
      <if test="drivingImgUrl != null">
        #{drivingImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null">
        #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="idcardImgUrl != null">
        #{idcardImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="invoiceImgUrl != null">
        #{invoiceImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="lpn != null">
        #{lpn,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="publishable != null">
        #{publishable,jdbcType=TINYINT},
      </if>
      <if test="recommenderMobile != null">
        #{recommenderMobile,jdbcType=VARCHAR},
      </if>
      <if test="reviewResult != null">
        #{reviewResult,jdbcType=TINYINT},
      </if>
      <if test="reviewType != null">
        #{reviewType,jdbcType=TINYINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="vehicleId != null">
        #{vehicleId,jdbcType=VARCHAR},
      </if>
      <if test="vin != null">
        #{vin,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="ctrlCar != null">
        #{ctrlCar,jdbcType=TINYINT},
      </if>
      <if test="defaultCar != null">
        #{defaultCar,jdbcType=TINYINT},
      </if>
      <if test="showCar != null">
        #{showCar,jdbcType=TINYINT},
      </if>
      <if test="replenish != null">
        #{replenish,jdbcType=TINYINT},
      </if>
      <if test="idcardName != null">
        #{idcardName,jdbcType=VARCHAR},
      </if>
      <if test="idcardCode != null">
        #{idcardCode,jdbcType=VARCHAR},
      </if>
      <if test="drivingName != null">
        #{drivingName,jdbcType=VARCHAR},
      </if>
      <if test="drivingVin != null">
        #{drivingVin,jdbcType=VARCHAR},
      </if>
      <if test="invoiceName != null">
        #{invoiceName,jdbcType=VARCHAR},
      </if>
      <if test="invoiceVin != null">
        #{invoiceVin,jdbcType=VARCHAR},
      </if>
      <if test="vehicleType != null">
        #{vehicleType,jdbcType=VARCHAR},
      </if>
      <if test="driving != null">
        #{driving,jdbcType=LONGVARCHAR},
      </if>
      <if test="invoice != null">
        #{invoice,jdbcType=LONGVARCHAR},
      </if>
      <if test="idcardDiscern != null">
        #{idcardDiscern,jdbcType=LONGVARCHAR},
      </if>
      <if test="drivingDiscern != null">
        #{drivingDiscern,jdbcType=LONGVARCHAR},
      </if>
      <if test="invoiceDiscern != null">
        #{invoiceDiscern,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.study.microsvehicle.model.VehicleAuditExample" resultType="java.lang.Integer">
    select count(*) from vehicle_audit
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update vehicle_audit
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.version != null">
        version = #{record.version,jdbcType=INTEGER},
      </if>
      <if test="record.auditType != null">
        audit_type = #{record.auditType,jdbcType=TINYINT},
      </if>
      <if test="record.channel != null">
        channel = #{record.channel,jdbcType=TINYINT},
      </if>
      <if test="record.dealerCode != null">
        dealer_code = #{record.dealerCode,jdbcType=VARCHAR},
      </if>
      <if test="record.dealerId != null">
        dealer_id = #{record.dealerId,jdbcType=VARCHAR},
      </if>
      <if test="record.dealerName != null">
        dealer_name = #{record.dealerName,jdbcType=VARCHAR},
      </if>
      <if test="record.drivingImgUrl != null">
        driving_img_url = #{record.drivingImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.idcard != null">
        idcard = #{record.idcard,jdbcType=VARCHAR},
      </if>
      <if test="record.idcardImgUrl != null">
        idcard_img_url = #{record.idcardImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.invoiceImgUrl != null">
        invoice_img_url = #{record.invoiceImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.lpn != null">
        lpn = #{record.lpn,jdbcType=VARCHAR},
      </if>
      <if test="record.operator != null">
        operator = #{record.operator,jdbcType=VARCHAR},
      </if>
      <if test="record.publishable != null">
        publishable = #{record.publishable,jdbcType=TINYINT},
      </if>
      <if test="record.recommenderMobile != null">
        recommender_mobile = #{record.recommenderMobile,jdbcType=VARCHAR},
      </if>
      <if test="record.reviewResult != null">
        review_result = #{record.reviewResult,jdbcType=TINYINT},
      </if>
      <if test="record.reviewType != null">
        review_type = #{record.reviewType,jdbcType=TINYINT},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.vehicleId != null">
        vehicle_id = #{record.vehicleId,jdbcType=VARCHAR},
      </if>
      <if test="record.vin != null">
        vin = #{record.vin,jdbcType=VARCHAR},
      </if>
      <if test="record.mobile != null">
        mobile = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.ctrlCar != null">
        ctrl_car = #{record.ctrlCar,jdbcType=TINYINT},
      </if>
      <if test="record.defaultCar != null">
        default_car = #{record.defaultCar,jdbcType=TINYINT},
      </if>
      <if test="record.showCar != null">
        show_car = #{record.showCar,jdbcType=TINYINT},
      </if>
      <if test="record.replenish != null">
        replenish = #{record.replenish,jdbcType=TINYINT},
      </if>
      <if test="record.idcardName != null">
        idcard_name = #{record.idcardName,jdbcType=VARCHAR},
      </if>
      <if test="record.idcardCode != null">
        idcard_code = #{record.idcardCode,jdbcType=VARCHAR},
      </if>
      <if test="record.drivingName != null">
        driving_name = #{record.drivingName,jdbcType=VARCHAR},
      </if>
      <if test="record.drivingVin != null">
        driving_vin = #{record.drivingVin,jdbcType=VARCHAR},
      </if>
      <if test="record.invoiceName != null">
        invoice_name = #{record.invoiceName,jdbcType=VARCHAR},
      </if>
      <if test="record.invoiceVin != null">
        invoice_vin = #{record.invoiceVin,jdbcType=VARCHAR},
      </if>
      <if test="record.vehicleType != null">
        vehicle_type = #{record.vehicleType,jdbcType=VARCHAR},
      </if>
      <if test="record.driving != null">
        driving = #{record.driving,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.invoice != null">
        invoice = #{record.invoice,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.idcardDiscern != null">
        idcard_discern = #{record.idcardDiscern,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.drivingDiscern != null">
        driving_discern = #{record.drivingDiscern,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.invoiceDiscern != null">
        invoice_discern = #{record.invoiceDiscern,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update vehicle_audit
    set id = #{record.id,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      version = #{record.version,jdbcType=INTEGER},
      audit_type = #{record.auditType,jdbcType=TINYINT},
      channel = #{record.channel,jdbcType=TINYINT},
      dealer_code = #{record.dealerCode,jdbcType=VARCHAR},
      dealer_id = #{record.dealerId,jdbcType=VARCHAR},
      dealer_name = #{record.dealerName,jdbcType=VARCHAR},
      driving_img_url = #{record.drivingImgUrl,jdbcType=VARCHAR},
      idcard = #{record.idcard,jdbcType=VARCHAR},
      idcard_img_url = #{record.idcardImgUrl,jdbcType=VARCHAR},
      invoice_img_url = #{record.invoiceImgUrl,jdbcType=VARCHAR},
      lpn = #{record.lpn,jdbcType=VARCHAR},
      operator = #{record.operator,jdbcType=VARCHAR},
      publishable = #{record.publishable,jdbcType=TINYINT},
      recommender_mobile = #{record.recommenderMobile,jdbcType=VARCHAR},
      review_result = #{record.reviewResult,jdbcType=TINYINT},
      review_type = #{record.reviewType,jdbcType=TINYINT},
      user_id = #{record.userId,jdbcType=VARCHAR},
      vehicle_id = #{record.vehicleId,jdbcType=VARCHAR},
      vin = #{record.vin,jdbcType=VARCHAR},
      mobile = #{record.mobile,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      ctrl_car = #{record.ctrlCar,jdbcType=TINYINT},
      default_car = #{record.defaultCar,jdbcType=TINYINT},
      show_car = #{record.showCar,jdbcType=TINYINT},
      replenish = #{record.replenish,jdbcType=TINYINT},
      idcard_name = #{record.idcardName,jdbcType=VARCHAR},
      idcard_code = #{record.idcardCode,jdbcType=VARCHAR},
      driving_name = #{record.drivingName,jdbcType=VARCHAR},
      driving_vin = #{record.drivingVin,jdbcType=VARCHAR},
      invoice_name = #{record.invoiceName,jdbcType=VARCHAR},
      invoice_vin = #{record.invoiceVin,jdbcType=VARCHAR},
      vehicle_type = #{record.vehicleType,jdbcType=VARCHAR},
      driving = #{record.driving,jdbcType=LONGVARCHAR},
      invoice = #{record.invoice,jdbcType=LONGVARCHAR},
      idcard_discern = #{record.idcardDiscern,jdbcType=LONGVARCHAR},
      driving_discern = #{record.drivingDiscern,jdbcType=LONGVARCHAR},
      invoice_discern = #{record.invoiceDiscern,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update vehicle_audit
    set id = #{record.id,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      version = #{record.version,jdbcType=INTEGER},
      audit_type = #{record.auditType,jdbcType=TINYINT},
      channel = #{record.channel,jdbcType=TINYINT},
      dealer_code = #{record.dealerCode,jdbcType=VARCHAR},
      dealer_id = #{record.dealerId,jdbcType=VARCHAR},
      dealer_name = #{record.dealerName,jdbcType=VARCHAR},
      driving_img_url = #{record.drivingImgUrl,jdbcType=VARCHAR},
      idcard = #{record.idcard,jdbcType=VARCHAR},
      idcard_img_url = #{record.idcardImgUrl,jdbcType=VARCHAR},
      invoice_img_url = #{record.invoiceImgUrl,jdbcType=VARCHAR},
      lpn = #{record.lpn,jdbcType=VARCHAR},
      operator = #{record.operator,jdbcType=VARCHAR},
      publishable = #{record.publishable,jdbcType=TINYINT},
      recommender_mobile = #{record.recommenderMobile,jdbcType=VARCHAR},
      review_result = #{record.reviewResult,jdbcType=TINYINT},
      review_type = #{record.reviewType,jdbcType=TINYINT},
      user_id = #{record.userId,jdbcType=VARCHAR},
      vehicle_id = #{record.vehicleId,jdbcType=VARCHAR},
      vin = #{record.vin,jdbcType=VARCHAR},
      mobile = #{record.mobile,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      ctrl_car = #{record.ctrlCar,jdbcType=TINYINT},
      default_car = #{record.defaultCar,jdbcType=TINYINT},
      show_car = #{record.showCar,jdbcType=TINYINT},
      replenish = #{record.replenish,jdbcType=TINYINT},
      idcard_name = #{record.idcardName,jdbcType=VARCHAR},
      idcard_code = #{record.idcardCode,jdbcType=VARCHAR},
      driving_name = #{record.drivingName,jdbcType=VARCHAR},
      driving_vin = #{record.drivingVin,jdbcType=VARCHAR},
      invoice_name = #{record.invoiceName,jdbcType=VARCHAR},
      invoice_vin = #{record.invoiceVin,jdbcType=VARCHAR},
      vehicle_type = #{record.vehicleType,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.study.microsvehicle.model.VehicleAudit">
    update vehicle_audit
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="auditType != null">
        audit_type = #{auditType,jdbcType=TINYINT},
      </if>
      <if test="channel != null">
        channel = #{channel,jdbcType=TINYINT},
      </if>
      <if test="dealerCode != null">
        dealer_code = #{dealerCode,jdbcType=VARCHAR},
      </if>
      <if test="dealerId != null">
        dealer_id = #{dealerId,jdbcType=VARCHAR},
      </if>
      <if test="dealerName != null">
        dealer_name = #{dealerName,jdbcType=VARCHAR},
      </if>
      <if test="drivingImgUrl != null">
        driving_img_url = #{drivingImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null">
        idcard = #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="idcardImgUrl != null">
        idcard_img_url = #{idcardImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="invoiceImgUrl != null">
        invoice_img_url = #{invoiceImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="lpn != null">
        lpn = #{lpn,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="publishable != null">
        publishable = #{publishable,jdbcType=TINYINT},
      </if>
      <if test="recommenderMobile != null">
        recommender_mobile = #{recommenderMobile,jdbcType=VARCHAR},
      </if>
      <if test="reviewResult != null">
        review_result = #{reviewResult,jdbcType=TINYINT},
      </if>
      <if test="reviewType != null">
        review_type = #{reviewType,jdbcType=TINYINT},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="vehicleId != null">
        vehicle_id = #{vehicleId,jdbcType=VARCHAR},
      </if>
      <if test="vin != null">
        vin = #{vin,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="ctrlCar != null">
        ctrl_car = #{ctrlCar,jdbcType=TINYINT},
      </if>
      <if test="defaultCar != null">
        default_car = #{defaultCar,jdbcType=TINYINT},
      </if>
      <if test="showCar != null">
        show_car = #{showCar,jdbcType=TINYINT},
      </if>
      <if test="replenish != null">
        replenish = #{replenish,jdbcType=TINYINT},
      </if>
      <if test="idcardName != null">
        idcard_name = #{idcardName,jdbcType=VARCHAR},
      </if>
      <if test="idcardCode != null">
        idcard_code = #{idcardCode,jdbcType=VARCHAR},
      </if>
      <if test="drivingName != null">
        driving_name = #{drivingName,jdbcType=VARCHAR},
      </if>
      <if test="drivingVin != null">
        driving_vin = #{drivingVin,jdbcType=VARCHAR},
      </if>
      <if test="invoiceName != null">
        invoice_name = #{invoiceName,jdbcType=VARCHAR},
      </if>
      <if test="invoiceVin != null">
        invoice_vin = #{invoiceVin,jdbcType=VARCHAR},
      </if>
      <if test="vehicleType != null">
        vehicle_type = #{vehicleType,jdbcType=VARCHAR},
      </if>
      <if test="driving != null">
        driving = #{driving,jdbcType=LONGVARCHAR},
      </if>
      <if test="invoice != null">
        invoice = #{invoice,jdbcType=LONGVARCHAR},
      </if>
      <if test="idcardDiscern != null">
        idcard_discern = #{idcardDiscern,jdbcType=LONGVARCHAR},
      </if>
      <if test="drivingDiscern != null">
        driving_discern = #{drivingDiscern,jdbcType=LONGVARCHAR},
      </if>
      <if test="invoiceDiscern != null">
        invoice_discern = #{invoiceDiscern,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.study.microsvehicle.model.VehicleAudit">
    update vehicle_audit
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      version = #{version,jdbcType=INTEGER},
      audit_type = #{auditType,jdbcType=TINYINT},
      channel = #{channel,jdbcType=TINYINT},
      dealer_code = #{dealerCode,jdbcType=VARCHAR},
      dealer_id = #{dealerId,jdbcType=VARCHAR},
      dealer_name = #{dealerName,jdbcType=VARCHAR},
      driving_img_url = #{drivingImgUrl,jdbcType=VARCHAR},
      idcard = #{idcard,jdbcType=VARCHAR},
      idcard_img_url = #{idcardImgUrl,jdbcType=VARCHAR},
      invoice_img_url = #{invoiceImgUrl,jdbcType=VARCHAR},
      lpn = #{lpn,jdbcType=VARCHAR},
      operator = #{operator,jdbcType=VARCHAR},
      publishable = #{publishable,jdbcType=TINYINT},
      recommender_mobile = #{recommenderMobile,jdbcType=VARCHAR},
      review_result = #{reviewResult,jdbcType=TINYINT},
      review_type = #{reviewType,jdbcType=TINYINT},
      user_id = #{userId,jdbcType=VARCHAR},
      vehicle_id = #{vehicleId,jdbcType=VARCHAR},
      vin = #{vin,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      ctrl_car = #{ctrlCar,jdbcType=TINYINT},
      default_car = #{defaultCar,jdbcType=TINYINT},
      show_car = #{showCar,jdbcType=TINYINT},
      replenish = #{replenish,jdbcType=TINYINT},
      idcard_name = #{idcardName,jdbcType=VARCHAR},
      idcard_code = #{idcardCode,jdbcType=VARCHAR},
      driving_name = #{drivingName,jdbcType=VARCHAR},
      driving_vin = #{drivingVin,jdbcType=VARCHAR},
      invoice_name = #{invoiceName,jdbcType=VARCHAR},
      invoice_vin = #{invoiceVin,jdbcType=VARCHAR},
      vehicle_type = #{vehicleType,jdbcType=VARCHAR},
      driving = #{driving,jdbcType=LONGVARCHAR},
      invoice = #{invoice,jdbcType=LONGVARCHAR},
      idcard_discern = #{idcardDiscern,jdbcType=LONGVARCHAR},
      driving_discern = #{drivingDiscern,jdbcType=LONGVARCHAR},
      invoice_discern = #{invoiceDiscern,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.study.microsvehicle.model.VehicleAudit">
    update vehicle_audit
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      version = #{version,jdbcType=INTEGER},
      audit_type = #{auditType,jdbcType=TINYINT},
      channel = #{channel,jdbcType=TINYINT},
      dealer_code = #{dealerCode,jdbcType=VARCHAR},
      dealer_id = #{dealerId,jdbcType=VARCHAR},
      dealer_name = #{dealerName,jdbcType=VARCHAR},
      driving_img_url = #{drivingImgUrl,jdbcType=VARCHAR},
      idcard = #{idcard,jdbcType=VARCHAR},
      idcard_img_url = #{idcardImgUrl,jdbcType=VARCHAR},
      invoice_img_url = #{invoiceImgUrl,jdbcType=VARCHAR},
      lpn = #{lpn,jdbcType=VARCHAR},
      operator = #{operator,jdbcType=VARCHAR},
      publishable = #{publishable,jdbcType=TINYINT},
      recommender_mobile = #{recommenderMobile,jdbcType=VARCHAR},
      review_result = #{reviewResult,jdbcType=TINYINT},
      review_type = #{reviewType,jdbcType=TINYINT},
      user_id = #{userId,jdbcType=VARCHAR},
      vehicle_id = #{vehicleId,jdbcType=VARCHAR},
      vin = #{vin,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      ctrl_car = #{ctrlCar,jdbcType=TINYINT},
      default_car = #{defaultCar,jdbcType=TINYINT},
      show_car = #{showCar,jdbcType=TINYINT},
      replenish = #{replenish,jdbcType=TINYINT},
      idcard_name = #{idcardName,jdbcType=VARCHAR},
      idcard_code = #{idcardCode,jdbcType=VARCHAR},
      driving_name = #{drivingName,jdbcType=VARCHAR},
      driving_vin = #{drivingVin,jdbcType=VARCHAR},
      invoice_name = #{invoiceName,jdbcType=VARCHAR},
      invoice_vin = #{invoiceVin,jdbcType=VARCHAR},
      vehicle_type = #{vehicleType,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>